$primary-color:#B18442;
$secondary-color:#151A2F;
$text-navbar-color: #F8B34F;
$text-main-color: #ffffff;
$button-color: #D39D2A;
$button-secondary-border-color: #AC842D;
$main-text-color: #C1BCBC;
$form-text-data: #B9B9B9;
$footer-link: #B9B9B9;
$footer-text: #FFFAF5;
$tertiary-color:linear-gradient(0deg, rgba(249, 127, 45, 1) 0%, rgba(204, 145, 42, 1) 100%);
$tertiary-color-horizontal:linear-gradient(90deg, rgba(249, 127, 45, 1) 0%, rgba(204, 145, 42, 1) 100%);
