.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}

.header__top {
  background-color: #282828;
  height: 50px;
  z-index: 99;
}

.header__emprendimiento__title {
  color: #848484;
}

.button__container {
  position: absolute;
  right: 10vw;
}

.button__emprendimiento {
  padding: .7rem 1rem;
  height: 34px;
  background-color: var(--primary-color);
  border: unset;
  outline: unset;
}

.main__second__header__emprendimiento {
  background-color: #282828 !important;
  opacity: .84;
  height: 64px;
  z-index: 99;
}