.buttonAnimation {
	height: 5rem;
	background-color: var(--btn-secondary-color);
	border-radius: 0;
	border-bottom-right-radius: 30px;
	transition: all .3s;
	outline: unset;
	border: unset;
	color: white;
	font-size: 1.2rem;
	padding: 0 4rem;
  
	&:hover {
		border-bottom-right-radius: 0px;
	}
}


.buttonAnimationGray {
	background-color: unset !important;
	border: 1px solid #FFFAF5 !important;
	margin: 0 2rem;
	font-size: 20px;
}