.main__third__section {
  background-color: var(--secondary-color);
  padding: 8rem 0;
}

.main__location__map {
  width: 100%;
}

.main__image__location {
  height: 100%;
  width: 100%;
}

.main__information {
  background-color: var(--primary-color);
  height: 100%;
  width: 100%;
  border-bottom-right-radius: 0;
  padding: 2rem 0;
}


.main__location__map {
  width: 100%;
}

.main__image__location {
  width: 100%;
}



.main__information__item {
  width: 300px;
  height: auto;
}

.item__icon {
  font-size: 2rem;
}

.main__information__container {
  width: 100%;
  max-width: 600px;
}

@media screen and (min-width: 1250px){
  .main__image__location {
    height: 35.2vmin;
  }

  .main__information {
    height: 35.2vmin;
    width: 100%;
    border-bottom-right-radius: 6rem;

  }

  .text__item {
    text-align: left !important;
  }

  .main__information__container {
    max-width: 800px !important;
  }


}