.Inicio {
    position: relative;
    .main {
        min-height: calc(100vh);
        position: relative;
        z-index: 99;
        .line-degrade {
            width: 40vw;
            position: absolute;
            bottom: 20vh;
            height: 1.1rem;
            z-index: 3;
            display: block;
        }
        
        &.uno {
            &::after {
                background-image: url("../../images/main-home.jpg");
            }
        }
        &.dos {
            &::after {
                background-image: url("../../images/main-home-2.jpg");
            }
        }
        &.tres {
            &::after {
                background-image: url("../../images/main-home-3.jpg");
            }
        }
        &::after {
            content: '';
            z-index: 2;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            transition: .5s ease all;
            // background-attachment: fixed;
            height: 80vh;
            top: 0;
            display: block;
            position: absolute;
            left: 20vw;
            right: 0;
        }
        #content-main {
            height: 80vh;
            position: relative;
            z-index: 3;
            padding-top: 8.3rem;
            h1 {
                font-size: 5vw;
                color: #fff;
                line-height: .9;
                font-weight: 200;
            }
            p {
                font-size: 1.6rem;
                color: #fff;
                font-weight: 200;
                margin-top: 2rem;
            }
        }
    }
}

@media (max-width:992px) {
    .Inicio {
        &::before {
            display: none;
        }
        .main {
            min-height: 90vh;
            max-height: 90vh;
            padding-top: 10vh;
            .transparencia {
                background-color: #0F0F0F;
                opacity: .75;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 21;
            }
            .line-degrade {
                display: none;
            }
            &::before {
                z-index: 9999;
                display: none;
            }
            &::after {
                left: 0vw;
                right: 0;
                height: 90vh;
                z-index: -1;
            }
            #content-main {
                position: relative;
                padding-top: 2rem;
                z-index: 999;
                h1 {
                    font-size: 15vw;
                }
                p {
                    margin-top: 1rem;
                    margin-bottom: 0rem;
                    font-size: 1.3rem;
                }
                form {
                    .content-fields {
                        background-color: rgba(rgb(0, 0, 0), .25);
                        input,
                        select {
                            font-size: .9rem;
                            padding-left: 2.5rem;
                        }
                        i {
                            font-size: .8rem;
                        }
                    }
                    button.btn {
                        width: 100%;
                        margin-top: 2rem;
                        font-size: 1rem;
                        display: block;
                        padding: 1rem;
                    }
                }
            }
            .navigator-container {
                display: none !important;
            }
        }
    }
}