.main__second__section {
  padding: 8rem 1rem;
  background-color: var(--secondary-color);
  position: relative;
  height: 100vh;
}


.main__second__section__image {
  width: 60vmin;
  display: none;
}

.main__description__container {
  max-width: 650px;
}

.main__description__title {
  font-size: 1.5rem;
}

.main__description__bg__circle {
  position: absolute;
  top: 150px;
  left: -400px;
  width: 45rem;
  opacity: .5;
}